* {
    margin: 0;
    padding: 0;
  }
  body {
    background: linear-gradient(blue, pink) center center/cover no-repeat;
    height: 100vh;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .out {
    background-color: white;
    height: 600px;
    width: 350px;
    border: 2px solid black;
    padding-top: 20px;
    margin: 20px;
    border-radius: 20px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: cursive;
    flex-direction: column;
  }
  
  #input{
      background-color: rgb(236, 217, 217);
      height: 40px;
      margin-top: 30px;
      text-align: center;
      border-radius: 20px;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #btn{
      font-family: cursive;
      font-size: 20px;
      margin-top: 20px;
      width: 150px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #111111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
    }
  
    #btn:before {
      
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }
    #btn:active {
      color: #000000;
    }
    
    #btn:active:after {
      background: transparent;
    }
    
    #btn:hover:before {
      opacity: 1;
    }
    
    #btn:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000000;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
  
    @keyframes glowing {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    
    #btn-2{
      
      font-size: 20px;
      border-radius: 10px;
      padding: 10px;
      font-family: cursive;
      transition-duration: 1s;
      font-family: cursive;
      width: 90px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #111111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
    }
    
   
  #ul li{
      list-style: none;
  }